.dayWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 280px;
  gap: 20px;
  margin-bottom: 30px;
}

@media (max-width: 1024px) {
  .dayWrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 364px;
  }
}
@media (max-width: 600px) {
  .dayWrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: calc(240px + 124 * ((100vw - 320px) / 600));
    gap: 10px;
  }
}
