.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.container-fluid {
  width: 100%;
  max-width: 144rem;
  padding: 0 4rem;
}

@media (max-width: 767px) {
  .container-fluid {
    padding: 0 2.1rem;
  }
}